
.icon-bullets:before { content: '\e800'; } /* '' */
.icon-cake:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-cancel-arrow:before { content: '\e803'; } /* '' */
.icon-cancel-coin:before { content: '\e804'; } /* '' */
.icon-candle:before { content: '\e805'; } /* '' */
.icon-cart:before { content: '\e806'; } /* '' */
.icon-chat:before { content: '\e807'; } /* '' */
.icon-chatboxes:before { content: '\e808'; } /* '' */
.icon-chat-o:before { content: '\e809'; } /* '' */
.icon-check:before { content: '\e80a'; } /* '' */
.icon-check-coin:before { content: '\e80b'; } /* '' */
.icon-checked:before { content: '\e80c'; } /* '' */
.icon-chevron-d:before { content: '\e80d'; } /* '' */
.icon-chevron-l:before { content: '\e80e'; } /* '' */
.icon-chevron-r:before { content: '\e80f'; } /* '' */
.icon-chevron-u:before { content: '\e810'; } /* '' */
.icon-clock:before { content: '\e811'; } /* '' */
.icon-clock-o:before { content: '\e812'; } /* '' */
.icon-coin:before { content: '\e813'; } /* '' */
.icon-cols:before { content: '\e814'; } /* '' */
.icon-contact:before { content: '\e815'; } /* '' */
.icon-copy:before { content: '\e816'; } /* '' */
.icon-crystal-ball:before { content: '\e817'; } /* '' */
.icon-cut:before { content: '\e818'; } /* '' */
.icon-day:before { content: '\e819'; } /* '' */
.icon-delivery:before { content: '\e81a'; } /* '' */
.icon-dispatch:before { content: '\e81b'; } /* '' */
.icon-doc:before { content: '\e81c'; } /* '' */
.icon-dollar-coin:before { content: '\e81d'; } /* '' */
.icon-down:before { content: '\e81e'; } /* '' */
.icon-download:before { content: '\e81f'; } /* '' */
.icon-edit:before { content: '\e820'; } /* '' */
.icon-export-doc:before { content: '\e821'; } /* '' */
.icon-drawer:before { content: '\e822'; } /* '' */
.icon-eye:before { content: '\e823'; } /* '' */
.icon-eye-blocked:before { content: '\e824'; } /* '' */
.icon-facebook:before { content: '\e825'; } /* '' */
.icon-favorite:before { content: '\e826'; } /* '' */
.icon-favoritre-o:before { content: '\e827'; } /* '' */
.icon-filter:before { content: '\e828'; } /* '' */
.icon-fingerprint:before { content: '\e829'; } /* '' */
.icon-flash:before { content: '\e82a'; } /* '' */
.icon-floppy:before { content: '\e82b'; } /* '' */
.icon-from:before { content: '\e82c'; } /* '' */
.icon-gear:before { content: '\e82d'; } /* '' */
.icon-google-plus:before { content: '\e82e'; } /* '' */
.icon-graduated:before { content: '\e82f'; } /* '' */
.icon-grid:before { content: '\e830'; } /* '' */
.icon-half-star:before { content: '\e831'; } /* '' */
.icon-handshake:before { content: '\e832'; } /* '' */
.icon-happy:before { content: '\e833'; } /* '' */
.icon-hashtag:before { content: '\e834'; } /* '' */
.icon-hdots:before { content: '\e835'; } /* '' */
.icon-heart:before { content: '\e836'; } /* '' */
.icon-heart-empty:before { content: '\e837'; } /* '' */
.icon-heart-half:before { content: '\e838'; } /* '' */
.icon-help:before { content: '\e839'; } /* '' */
.icon-home:before { content: '\e83a'; } /* '' */
.icon-hourglass:before { content: '\e83b'; } /* '' */
.icon-id-card-h:before { content: '\e83c'; } /* '' */
.icon-id-card-v:before { content: '\e83d'; } /* '' */
.icon-image:before { content: '\e83e'; } /* '' */
.icon-infinite:before { content: '\e83f'; } /* '' */
.icon-info:before { content: '\e840'; } /* '' */
.icon-info-coin:before { content: '\e841'; } /* '' */
.icon-instagram:before { content: '\e842'; } /* '' */
.icon-invoice:before { content: '\e843'; } /* '' */
.icon-key:before { content: '\e844'; } /* '' */
.icon-landphone:before { content: '\e845'; } /* '' */
.icon-left-arrow:before { content: '\e846'; } /* '' */
.icon-linkedin:before { content: '\e847'; } /* '' */
.icon-list:before { content: '\e848'; } /* '' */
.icon-locked:before { content: '\e849'; } /* '' */
.icon-logout:before { content: '\e84a'; } /* '' */
.icon-mail:before { content: '\e84b'; } /* '' */
.icon-man:before { content: '\e84c'; } /* '' */
.icon-math:before { content: '\e84d'; } /* '' */
.icon-menu:before { content: '\e84e'; } /* '' */
.icon-minus:before { content: '\e84f'; } /* '' */
.icon-minus-coin:before { content: '\e850'; } /* '' */
.icon-money:before { content: '\e851'; } /* '' */
.icon-money-bag:before { content: '\e852'; } /* '' */
.icon-month:before { content: '\e853'; } /* '' */
.icon-moon:before { content: '\e854'; } /* '' */
.icon-more:before { content: '\e855'; } /* '' */
.icon-move:before { content: '\e856'; } /* '' */
.icon-new:before { content: '\e857'; } /* '' */
.icon-new-user:before { content: '\e858'; } /* '' */
.icon-numbered:before { content: '\e859'; } /* '' */
.icon-offline:before { content: '\e85a'; } /* '' */
.icon-order:before { content: '\e85b'; } /* '' */
.icon-password:before { content: '\e85c'; } /* '' */
.icon-pdf:before { content: '\e85d'; } /* '' */
.icon-people:before { content: '\e85e'; } /* '' */
.icon-percent:before { content: '\e85f'; } /* '' */
.icon-person:before { content: '\e860'; } /* '' */
.icon-phone:before { content: '\e861'; } /* '' */
.icon-pie:before { content: '\e862'; } /* '' */
.icon-piggy:before { content: '\e863'; } /* '' */
.icon-pin:before { content: '\e864'; } /* '' */
.icon-play:before { content: '\e865'; } /* '' */
.icon-plus:before { content: '\e866'; } /* '' */
.icon-power:before { content: '\e867'; } /* '' */
.icon-printer:before { content: '\e868'; } /* '' */
.icon-profile:before { content: '\e869'; } /* '' */
.icon-qr-code:before { content: '\e86a'; } /* '' */
.icon-question:before { content: '\e86b'; } /* '' */
.icon-question-coin:before { content: '\e86c'; } /* '' */
.icon-ray:before { content: '\e86d'; } /* '' */
.icon-receipt:before { content: '\e86e'; } /* '' */
.icon-recycle:before { content: '\e86f'; } /* '' */
.icon-redo:before { content: '\e870'; } /* '' */
.icon-redo2:before { content: '\e871'; } /* '' */
.icon-refresh:before { content: '\e872'; } /* '' */
.icon-resize:before { content: '\e873'; } /* '' */
.icon-ribbon:before { content: '\e874'; } /* '' */
.icon-right-arrow:before { content: '\e875'; } /* '' */
.icon-rocket:before { content: '\e876'; } /* '' */
.icon-rows:before { content: '\e877'; } /* '' */
.icon-sad:before { content: '\e878'; } /* '' */
.icon-safe:before { content: '\e879'; } /* '' */
.icon-save:before { content: '\e87a'; } /* '' */
.icon-scissors:before { content: '\e87b'; } /* '' */
.icon-scissors2:before { content: '\e87c'; } /* '' */
.icon-search:before { content: '\e87d'; } /* '' */
.icon-send:before { content: '\e87e'; } /* '' */
.icon-share:before { content: '\e87f'; } /* '' */
.icon-shipping:before { content: '\e880'; } /* '' */
.icon-shopping-cart:before { content: '\e881'; } /* '' */
.icon-smartphone:before { content: '\e882'; } /* '' */
.icon-sms:before { content: '\e883'; } /* '' */
.icon-star:before { content: '\e884'; } /* '' */
.icon-star-empty:before { content: '\e885'; } /* '' */
.icon-stock:before { content: '\e886'; } /* '' */
.icon-store:before { content: '\e887'; } /* '' */
.icon-supplier:before { content: '\e888'; } /* '' */
.icon-swap:before { content: '\e889'; } /* '' */
.icon-table:before { content: '\e88a'; } /* '' */
.icon-tag:before { content: '\e88b'; } /* '' */
.icon-tags:before { content: '\e88c'; } /* '' */
.icon-terminal:before { content: '\e88d'; } /* '' */
.icon-text:before { content: '\e88e'; } /* '' */
.icon-thumbs-up:before { content: '\e88f'; } /* '' */
.icon-thumbs-up-o:before { content: '\e890'; } /* '' */
.icon-tie:before { content: '\e891'; } /* '' */
.icon-time:before { content: '\e892'; } /* '' */
.icon-to:before { content: '\e893'; } /* '' */
.icon-transfer:before { content: '\e894'; } /* '' */
.icon-trash:before { content: '\e895'; } /* '' */
.icon-tray:before { content: '\e896'; } /* '' */
.icon-trolley:before { content: '\e897'; } /* '' */
.icon-truck:before { content: '\e898'; } /* '' */
.icon-twitter:before { content: '\e899'; } /* '' */
.icon-txt:before { content: '\e89a'; } /* '' */
.icon-unchecked:before { content: '\e89b'; } /* '' */
.icon-undo:before { content: '\e89c'; } /* '' */
.icon-undo2:before { content: '\e89d'; } /* '' */
.icon-unlocked:before { content: '\e89e'; } /* '' */
.icon-up-arrow:before { content: '\e89f'; } /* '' */
.icon-upload:before { content: '\e8a0'; } /* '' */
.icon-user:before { content: '\e8a1'; } /* '' */
.icon-users:before { content: '\e8a2'; } /* '' */
.icon-vdots:before { content: '\e8a3'; } /* '' */
.icon-waiter:before { content: '\e8a4'; } /* '' */
.icon-warning:before { content: '\e8a5'; } /* '' */
.icon-warning-coin:before { content: '\e8a6'; } /* '' */
.icon-whatsapp:before { content: '\e8a7'; } /* '' */
.icon-wifi:before { content: '\e8a8'; } /* '' */
.icon-woman:before { content: '\e8a9'; } /* '' */
.icon-xls:before { content: '\e8aa'; } /* '' */
.icon-youtube:before { content: '\e8ab'; } /* '' */
.icon-abc:before { content: '\e8ac'; } /* '' */
.icon-add-coin:before { content: '\e8ad'; } /* '' */
.icon-add-user:before { content: '\e8ae'; } /* '' */
.icon-alarm:before { content: '\e8af'; } /* '' */
.icon-apps:before { content: '\e8b0'; } /* '' */
.icon-arrow-d:before { content: '\e8b1'; } /* '' */
.icon-arrow-l:before { content: '\e8b2'; } /* '' */
.icon-arrow-r:before { content: '\e8b3'; } /* '' */
.icon-arrow-u:before { content: '\e8b4'; } /* '' */
.icon-asterisk:before { content: '\e8b5'; } /* '' */
.icon-at:before { content: '\e8b6'; } /* '' */
.icon-attach:before { content: '\e8b7'; } /* '' */
.icon-barcode:before { content: '\e8b8'; } /* '' */
.icon-bars:before { content: '\e8b9'; } /* '' */
.icon-basket:before { content: '\e8ba'; } /* '' */
.icon-box:before { content: '\e8bb'; } /* '' */
.icon-boxes:before { content: '\e8bc'; } /* '' */
.icon-brackets:before { content: '\e8bd'; } /* '' */
.icon-link:before { content: '\e8be'; } /* '' */
.icon-analysis:before { content: '\e8bf'; } /* '' */