/* ion-header ion-toolbar img {
  height: 48px;
  border-radius: 6px;
}

ion-footer ion-toolbar img {
  height: 1.2rem;
  padding-top: 8px;
} */

//#region height
.h50 {
  height: 50%;
  padding-top: 5px;
}

.h95 {
  height: 95%;
}

.h100 {
  height: 100%;
}
//#endregion

//#region width
.w50 {
  width: 50%;
}

.w95 {
  width: 95%;
}

.w100 {
  width: 100%;
}
//#endregion

.img{
  width: 10%;
  height: 10%;
}

.flex-wrap {
  display: flex;
  width: 100%;
  height: 100%;
}

.flex-wrap h2 {
  margin: auto;
  font-size: 4rem;
  font-weight: bold;
  color: gray;
}

.grid-container {
  display: grid;
  height: 99.5%;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "display display display submit" "b7 b8 b9 submit" "b4 b5 b6 submit" "b1 b2 b3 submit" "b0 bc bb submit";
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}

.display {
  grid-area: display;
}

.submit {
  grid-area: submit;
}

.b7 {
  grid-area: b7;
}

.b8 {
  grid-area: b8;
}

.b9 {
  grid-area: b9;
}

.b6 {
  grid-area: b6;
}

.b5 {
  grid-area: b5;
}

.b4 {
  grid-area: b4;
}

.b1 {
  grid-area: b1;
}

.b2 {
  grid-area: b2;
}

.b3 {
  grid-area: b3;
}

.b0 {
  grid-area: b0;
}

.bc {
  grid-area: bc;
}

.bb {
  grid-area: bb;
}

ion-button {
  margin: auto;
  font-size: 4rem;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 800px) {
  ion-button,
  .flex-wrap h2 {
    font-size: 2rem;
  }
}
