<!-- <p>endereco: {{ endereco | json }}</p> -->
<!-- <p>contato: {{ contato | json }}</p> -->
<!-- <p>verificaSubmit: {{ verificaSubmit() }}</p> -->
<!-- <p>token: {{ token }}</p> -->
<!-- <p>conta: {{ conta | json }}</p> -->
<ion-header>
    <ion-toolbar>
      <ion-grid fixed no-padding>
        <ion-row no-padding>
          <ion-col no-padding>
            <ion-toolbar text-center *ngIf="conta">
              <ion-label>
                {{ conta.con_c_conta}}
              </ion-label>
              <img [src]="img()" class="img" alt="" slot="start">
            </ion-toolbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="grid-container">
      <div class="display">
        <ion-label class="flex-wrap">
          <h2> {{ token ? (display | telefone) : display || 'Chave de validação?' }} </h2>
          <!-- <h2>{{ display | telefone }}</h2> -->
          <!-- <h2>{{ display }}</h2> -->
        </ion-label>
      </div>
      <div class="submit">
        <ng-container *ngIf="token; else noToken">
            <ion-button class="{{ numProds == 1 ? 'h100 w95' : 'h50 w95' }}" color="success" expand="block" [disabled]="buffer.length != 11 || busy"
              *ngIf="conta && conta.con_fk_cam_dis_zap" (click)="onWhatsappSend()">
              <span class="icon-whatsapp"></span>
            </ion-button>
  
            <ion-button class="{{ numProds == 1 ? 'h100 w95' : 'h50 w95' }}" color="secondary" expand="block" [disabled]="buffer.length != 11"
              *ngIf="conta && conta.con_fk_cam_dis_sms" (click)="onSmsSend()">
              <!-- <span class="icon-check"></span> -->
              SMS
            </ion-button>
  
        </ng-container>
        <ng-template #noToken>
          <ion-button class="h100 w95" color="success" expand="block" [disabled]="buffer.length != 11"
            (click)="onRegistrarClick()">
            <span class="icon-check"></span>
          </ion-button>
        </ng-template>
  
      </div>
  
      <div class="b7">
        <ion-button class="h95" color="light" expand="block" (click)="addDigitClick('7')"
          [disabled]="buffer.length == 11">
          7
        </ion-button>
      </div>
      <div class="b8">
        <ion-button class="h95" color="light" expand="block" (click)="addDigitClick('8')"
          [disabled]="buffer.length == 11">
          8
        </ion-button>
      </div>
      <div class="b9">
        <ion-button class="h95" color="light" expand="block" (click)="addDigitClick('9')"
          [disabled]="buffer.length == 11">
          9
        </ion-button>
      </div>
      <div class="b6">
        <ion-button class="h95" color="light" expand="block" (click)="addDigitClick('6')"
          [disabled]="buffer.length == 11">
          6
        </ion-button>
      </div>
      <div class="b5">
        <ion-button class="h95" color="light" expand="block" (click)="addDigitClick('5')"
          [disabled]="buffer.length == 11">
          5
        </ion-button>
      </div>
      <div class="b4">
        <ion-button class="h95" color="light" expand="block" (click)="addDigitClick('4')"
          [disabled]="buffer.length == 11">
          4
        </ion-button>
      </div>
      <div class="b1">
        <ion-button class="h95" color="light" expand="block" (click)="addDigitClick('1')"
          [disabled]="buffer.length == 11">
          1
        </ion-button>
      </div>
      <div class="b2">
        <ion-button class="h95" color="light" expand="block" (click)="addDigitClick('2')"
          [disabled]="buffer.length == 11">
          2
        </ion-button>
      </div>
      <div class="b3">
        <ion-button class="h95" color="light" expand="block" (click)="addDigitClick('3')"
          [disabled]="buffer.length == 11">
          3
        </ion-button>
      </div>
      <div class="b0">
        <ion-button class="h95" color="light" expand="block" (click)="addDigitClick('0')"
          [disabled]="buffer.length == 11">
          0
        </ion-button>
      </div>
      <div class="bc">
        <ion-button class="h95" color="danger" expand="block" (click)="buffer = ''" [disabled]="!buffer">
          C
        </ion-button>
      </div>
      <div class="bb">
        <ion-button class="h95" color="warning" expand="block" (click)="onBackspaceClick()" [disabled]="!buffer">
          <span class="icon-left-arrow"></span>
        </ion-button>
      </div>
    </div>
  </ion-content>
  
  <!-- <ion-footer>
    <ion-toolbar>
      <ion-title text-center>
        <small>www.conecdata.com.br/</small><img src="{{ imgCD }}/logo_submarine.png" alt="">
      </ion-title>
    </ion-toolbar>
  </ion-footer> -->