<div *ngIf="endereco">
    <p><strong>{{ endereco.end_c_logradouro }}, {{ endereco.end_i_nro }} {{ endereco.end_c_complemento }}</strong></p>
    <p *ngIf="endereco.end_c_referencia">{{ endereco.end_c_referencia }}</p>
    <p>{{ endereco.end_c_bairro }}</p>
    <p>{{ endereco.end_c_cep | cep }} {{ endereco.end_c_localidade }} - {{ endereco.end_c_uf }}</p>
</div>