/* --------------------------
:: 14.0 Colorlib template - Footer Area CSS Start
-------------------------- */

footer {
  background-color: var(--cd-color-footer);
  color: var(--cd-color-footer-contrast);
  position: fixed;
  z-index: -1;
  height: var(--cd-footer-height);
  width: 100%;
  bottom: 0;
  padding: 10px;
}

footer img {
  height: 48px;
  margin: 10px;
}

/* footer p,
footer a {
  color: var(--cd-color-footer-contrast);
} */

footer .footer-social-icon {
  text-align: center;
}

footer .footer-social-icon ul li {
  list-style: none;
  display: inline-block;
  margin-bottom: 10px;
}

footer .footer-social-icon ul li a {
  width: 42px;
  height: 42px;
  line-height: 42px;
  font-size: 24px;
  text-align: center;
  // display: inline-block;
  vertical-align: middle;
  background-color: white;
  color: var(--cd-color-custom);
  border-radius: 10px 10px 10px 0;
  margin-left: 5px;
  // overflow: hidden;
  transition: 700ms;
  padding: 6px;
}

footer .footer-social-icon ul li a:hover {
  color: white;
  background-color: var(--cd-color-custom);
  width: 64px;
  height: 64px;
  font-size: 48px;
}
