@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* --------------------------
:: 2.0 Colorlib template - Header Area CSS
-------------------------- */

.colorlib-header {
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 0;
  padding: 0 10%;
  background-color: var(--cd-color-custom);
  color: var(--cd-color-custom-contrast);
  height: var(--cd-header-height);

  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.colorlib-header .menu-area {
  margin-top: 25px;
}

.colorlib-header .menu-area .navbar-brand {
  margin: 0;
  padding: 0;
}

.colorlib-header .menu-area .navbar-brand img {
  height: 36px;
}

/* .colorlib-header .menu-area {
  position: relative;
  z-index: 2;
} */

.colorlib-header .menu-area #nav .nav-link {
  color: var(--cd-color-custom-contrast);
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  -webkit-transition-duration: var(--cd-transition-duration);
  -o-transition-duration: var(--cd-transition-duration);
  transition-duration: var(--cd-transition-duration);
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

.colorlib-header .menu-area #nav .nav-link:hover {
  color: var(--cd-color-strong);
  font-weight: bold;
  font-size: 125%;
}

/*
.colorlib-header .login-button {
  text-align: right;
  cursor: pointer;
}

.colorlib-header .login-button > a {
  color: $nav_fg_color;
  font-weight: 500;
  display: inline-block;
  border: 2px solid $nav_btn_border_color;
  height: 50px;
  min-width: 178px;
  line-height: 46px;
  text-align: center;
  border-radius: 24px 24px 24px 0px;
}

.colorlib-header .login-button > a:hover {
  background: $nav_fg_color;
  color: $nav_bg_color;
  border-color: transparent;
  -webkit-transition-duration: $def_transition_duration;
  -o-transition-duration: $def_transition_duration;
  transition-duration: $def_transition_duration;
}
*/

/* sticky css */
.colorlib-header.sticky {
 /*  background-color: var(--cd-color-custom-shade);
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  // box-shadow: 5px 8px 18px #888888;
  height: var(--cd-header-height-fixed);
  position: fixed;
  // top: 0;
  top: -var(--cd-header-height-fixed);
  z-index: 99; */

  transform: translateY(-100%);
}

.colorlib-header.sticky .menu-area {
  margin-top: 10px;
}

/* .colorlib-header.sticky .menu-area .navbar-brand img {
  height: 48px;
} */

/* .colorlib-header.sticky .menu-area .navbar-brand {
  font-size: 50px;
} */

/* .colorlib-header.sticky .menu-area #nav .nav-link {
  padding: 23px 15px;
} */

/* .colorlib-header.sticky .navbar {
  padding: 0;
} */

/* .colorlib-header .navbar-collapse.show * {
  background-color: var(--cd-color-custom);
} */

/* .colorlib-header .navbar-collapse.show .navbar-nav,
.colorlib-header .navbar-collapse.show .login-button {
  padding: 20px;
} */

@-webkit-keyframes slide {
  100% {
    top: 0;
  }
}

@keyframes slide {
  100% {
    top: 0;
  }
}

@media (max-width: 576px) {
  /* .colorlib-header .navbar-brand img {
    //   .menu-area .navbar-brand img {
    height: 36px;
  }

  .colorlib-header .welcome-heading {
    margin-top: 0px;
  }

  .colorlib-header {
    padding-top: 10px;
  }

  .colorlib-header #logo {
    height: 32px;
  } */
}
