@import url("https://fonts.googleapis.com/css?family=Montserrat");

.tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  grid-gap: 10px;
}

.tiles .tile-content {
  color: white;
  width: 100%;
  height: 150px;
  display: flex;
  text-align: center;
}

.tiles .tile-content .tile {
  margin: auto;
  cursor: pointer;
}

.tiles .tile-content .tile h3 {
  margin: auto;
}

.tiles .tile-content .tile h3 p[class^="icon-"] {
  font-size: 4rem;
  // background-color: green;
}

.tiles .tile-content .tile .caption {
  // margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.tiles .tile-content:hover {
  // position: relative;
  // top: -10px;
  opacity: 0.6;
}
/*
@media (min-width: 650px) {
  .tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; // flex-start, flex-end, center, stretch (default)
    justify-content: flex-start; // flex-start, flex-end, center, space-between, space-around, space-evenly
    align-content: flex-start;
  }

  .tiles .tile-content {
    width: 200px;
  }
}
*/
/* Colors */

// primary
.tiles .tile-content.primary {
  background: #3880ff;
}
.tiles .tile-content.primary-contrast {
  background: #ffffff;
}
.tiles .tile-content.primary-shade {
  background: #3171e0;
}
.tiles .tile-content.primary-tint {
  background: #4c8dff;
}

// secondary
.tiles .tile-content.secondary {
  background: #0cd1e8;
}
.tiles .tile-content.secondary-contrast {
  background: #ffffff;
}
.tiles .tile-content.secondary-shade {
  background: #0bb8cc;
}
.tiles .tile-content.secondary-tint {
  background: #24d6ea;
}

// tertiary
.tiles .tile-content.tertiary {
  background: #7044ff;
}
.tiles .tile-content.tertiary-contrast {
  background: #ffffff;
}
.tiles .tile-content.tertiary-shade {
  background: #633ce0;
}
.tiles .tile-content.tertiary-tint {
  background: #7e57ff;
}

// success
.tiles .tile-content.success {
  background: #10dc60;
}
.tiles .tile-content.success-contrast {
  background: #ffffff;
}
.tiles .tile-content.success-shade {
  background: #0ec254;
}
.tiles .tile-content.success-tint {
  background: #28e070;
}

// warning
.tiles .tile-content.warning {
  background: #ffce00;
}
.tiles .tile-content.warning-contrast {
  background: #ffffff;
}
.tiles .tile-content.warning-shade {
  background: #e0b500;
}
.tiles .tile-content.warning-tint {
  background: #ffd31a;
}

// danger
.tiles .tile-content.danger {
  background: #f04141;
}
.tiles .tile-content.danger-contrast {
  background: #ffffff;
}
.tiles .tile-content.danger-shade {
  background: #d33939;
}
.tiles .tile-content.danger-tint {
  background: #f25454;
}

// dark
.tiles .tile-content.dark {
  background: #222428;
}
.tiles .tile-content.dark-contrast {
  background: #ffffff;
}
.tiles .tile-content.dark-shade {
  background: #1e2023;
}
.tiles .tile-content.dark-tint {
  background: #383a3e;
}

// medium
.tiles .tile-content.medium {
  background: #989aa2;
}
.tiles .tile-content.medium-contrast {
  background: #ffffff;
}
.tiles .tile-content.medium-shade {
  background: #86888f;
}
.tiles .tile-content.medium-tint {
  background: #a2a4ab;
}

// light
.tiles .tile-content.light {
  background: #f4f5f8;
}
.tiles .tile-content.light-contrast {
  background: #000000;
}
.tiles .tile-content.light-shade {
  background: #d7d8da;
}
.tiles .tile-content.light-tint {
  background: #f5f6f9;
}

/*
// 540 720 960 1140
@media (min-width: 540px) {
  .tiles {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; // flex-start, flex-end, center, stretch (default)
    // justify-content: space-between; // flex-start, flex-end, center, space-between
    align-content: flex-start;
  }

  .tile {
    // flex-basis: 45%;
    max-width: 600px;
    margin: auto;
  }
}

@media (min-width: 720px) {
  .tile {
    // flex-basis: 30%;
    max-width: 400px;
    margin: auto;
  }
}

@media (min-width: 960px) {
  .tile {
    // flex-basis: 22,5%;
    max-width: 300px;
    margin: auto;
  }
}

@media (min-width: 1140px) {
  .tile {
    // flex-basis: 18%;
    max-width: 200px;
    margin: auto;
  }
}
*/

/*
.tiles .tile {
  // position: relative;
  // padding: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  display: flex;
  padding: 20px;
}

/* Responsiveness * /
.tiles .col-sm-6,
.tiles .col-md-4,
.tiles .col-lg-3,
.tiles .col-xl-2 {
  /* background-color: red; * /
  margin: 5px 0px 5px 0px;
}

/* Colors * /

// primary
.tiles .tile.primary {
  background: #3880ff;
}
.tiles .tile.primary-contrast {
  background: #ffffff;
}
.tiles .tile.primary-shade {
  background: #3171e0;
}
.tiles .tile.primary-tint {
  background: #4c8dff;
}

// secondary
.tiles .tile.secondary {
  background: #0cd1e8;
}
.tiles .tile.secondary-contrast {
  background: #ffffff;
}
.tiles .tile.secondary-shade {
  background: #0bb8cc;
}
.tiles .tile.secondary-tint {
  background: #24d6ea;
}

// tertiary
.tiles .tile.tertiary {
  background: #7044ff;
}
.tiles .tile.tertiary-contrast {
  background: #ffffff;
}
.tiles .tile.tertiary-shade {
  background: #633ce0;
}
.tiles .tile.tertiary-tint {
  background: #7e57ff;
}

// success
.tiles .tile.success {
  background: #10dc60;
}
.tiles .tile.success-contrast {
  background: #ffffff;
}
.tiles .tile.success-shade {
  background: #0ec254;
}
.tiles .tile.success-tint {
  background: #28e070;
}

// warning
.tiles .tile.warning {
  background: #ffce00;
}
.tiles .tile.warning-contrast {
  background: #ffffff;
}
.tiles .tile.warning-shade {
  background: #e0b500;
}
.tiles .tile.warning-tint {
  background: #ffd31a;
}

// danger
.tiles .tile.danger {
  background: #f04141;
}
.tiles .tile.danger-contrast {
  background: #ffffff;
}
.tiles .tile.danger-shade {
  background: #d33939;
}
.tiles .tile.danger-tint {
  background: #f25454;
}

// danger
.tiles .tile.danger {
  background: #f04141;
}
.tiles .tile.danger-contrast {
  background: #ffffff;
}
.tiles .tile.danger-shade {
  background: #d33939;
}
.tiles .tile.danger-tint {
  background: #f25454;
}

// dark
.tiles .tile.dark {
  background: #222428;
}
.tiles .tile.dark-contrast {
  background: #ffffff;
}
.tiles .tile.dark-shade {
  background: #1e2023;
}
.tiles .tile.dark-tint {
  background: #383a3e;
}

// medium
.tiles .tile.medium {
  background: #989aa2;
}
.tiles .tile.medium-contrast {
  background: #ffffff;
}
.tiles .tile.medium-shade {
  background: #86888f;
}
.tiles .tile.medium-tint {
  background: #a2a4ab;
}

// light
.tiles .tile.light {
  background: #f4f5f8;
}
.tiles .tile.light-contrast {
  background: #000000;
}
.tiles .tile.light-shade {
  background: #d7d8da;
}
.tiles .tile.light-tint {
  background: #f5f6f9;
}
/*
.tiles .tile.orange {
  background: orange;
}

.tiles .tile.orange {
  background: orange;
}

.tiles .tile.blue {
  background: blue;
}

.tiles .tile.darkred {
  background: rgb(146, 28, 28);
}

.tiles .tile.red {
  background: red;
}

.tiles .tile.tomato {
  background: tomato;
}

.tiles .tile.lightblue {
  background: #1e90ff;
}

.tiles .tile.black {
  background: black;
}

.tiles .tile.green {
  background: green;
}

.tiles .tile.accent {
  background: #8cbf26;
}

.tiles .tile.brown {
  background: #a05000;
}

.tiles .tile.lime {
  background: #8cbf26;
}

.tiles .tile.magenta {
  background: #ff0097;
}

.tiles .tile.darkorange {
  background: #f09609;
}

.tiles .tile.pink {
  background: #e671b8;
}

.tiles .tile.purple {
  background: #a200ff;
}

.tiles .tile.red {
  background: #e51400;
}

.tiles .tile.teal {
  background: #00aba9;
}

.tiles .tile.coral {
  background: #ff7f50;
}

.tiles .tile.darkcyan {
  background: #008b8b;
}

.tiles .tile.salmon {
  background: #fa8072;
}

.tiles .tile.slateblue {
  background: #6a5acd;
}

.tiles .tile.darkolivegreen {
  background: #556b2f;
}

.tiles .tile.gray {
  background: #708090;
}
* /
// Módulos
.tiles .tile.comandas {
  background: #a200ff;
}

.tiles .tile.mesas {
  background: #8cbf26;
}

.tiles .tile.senhas {
  background: #1ba1e2;
}

.tiles .tile.balcao {
  // background: #ff6347;
  background: #708090;
}

.tiles .tile.delivery {
  background: #ffa500;
}

/* Tile size and cursor * /
/* 
.tiles .tile,
.tiles .carousel.tile {
  // height: 20vh;
  height: 180px;
  cursor: pointer;
}
 * /
/* Highlight selected tile * /

.tiles .tile:hover {
  /* position: relative; * /
  // top: -10px;
  opacity: 0.6;
}

.tiles .tile:hover i {
  text-shadow: 4px 4px #333;
}

.tiles [class^="icon-"] {
  margin-top: 10px;
  font-size: 2rem;
}

.tiles .tile img.icon {
  height: 64px;
}

.tiles .carousel-inner {
  margin: auto;
  // position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  // -webkit-transform: translateY(-50%);
  // -ms-transform: translateY(-50%);
}

.tiles .tile .caption {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  // color: yellow;
  // text-shadow: 2px 2px #333;
}
/* 
.tiles .tile .note {
  font-family: "Segoe UI", Verdana, Geneva, sans-serif;
  position: absolute;
  bottom: 5px;
  right: 10px; 
  font-size: 1.5em;
  font-weight: normal;
  color: white;
  text-shadow: 2px 2px #333;
}
 * /
.tiles .tile .highlight {
  color: yellow;
  font-weight: bold;
}

/* Big icon in tile * /
/* 
.tiles .tile .caption.bigicon {
  font-size: 300%;
}
 * /
*/
